<div class="inputs">
  <mat-form-field class="example-full-width">
    <input #query matInput placeholder="Search by name">
  </mat-form-field>

  <mat-form-field>
    <mat-select #ingridients placeholder="Ingridients" [formControl]="ingridentsControl" multiple>
      <mat-option *ngFor="let ing of ingridiendtsList" [value]="ing">{{ ing }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button (click)="searchForRecipes(query.value,ingridients.value)" class="search-button" >Search</button>
</div>

<div class="pagination">
    <button mat-flat-button (click)="prevPage(query.value, ingridients.value)" [disabled]="page==1"><</button>
    <button mat-flat-button	(click)="nextPage(query.value, ingridients.value)" >></button>
    <span>Page: {{ page }}</span>
</div>
