@import 'recipes/recipes-search/recipes-search.component.scss';
@import 'recipes/recipes-list/recipes-list.component.scss';

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background: $gray-bg;
}

.header {
  text-align: center;
  padding: 1rem 0;
  background: $gray-bg;

  .page-title {
    color: $orange;
    position: relative;
    font-size: 1.5rem;
    margin: 3px 0;
  }

  a {
    text-decoration: none;
  }

}
.footer {
  text-align: center;
  padding: 0.2rem 0 0.2rem 0;
  background: white;
}

// Preloader is globaly added

.lds-dual-ring {
  display: block;
  width: 100%;
  height: 100%;
}

.lds-dual-ring:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fe7f2a;
  border-color: #fe7f2a transparent #fe7f2a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  left: 45%;
  top: 40%;
  transform: translate(-45%,-40%);
}

.lds-dual-ring:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
